/* $Id: frame.css,v 1.1 2010/04/28 06:24:18 Administrator Exp $ */

body {
	font-family: Verdana, sans-serif;
}

frameset.global {
	border-style: solid;
	border-width: 0px 0px 5px 0px; 
	border-color: #bbbbbb;
}

frame.global {
	border-top-style:	none;
	border-right-style:	none;
	border-bottom-style:	solid;
	border-left-style:	none;
	border-width:	0px 0px 5px 0px;
	border-color:	#bbbbbb;
}